body{
    background-color: purple;
}
p{
    background-color: #d67e09;
    border-width: 2px;
    border-color: rgb(223, 215, 130);
    border-style: solid;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
h3 {
    text-align: left ;
}
h1{
    background-color: rgb(26, 226, 226);
    border-width: 4px;
    border-color: rgb(140, 88, 105);
    border-style: solid;
    border-radius: 5px;
}
h2{
    background-color: rgb(165, 130, 189);
    font-size: 40px;
}
h3{
    font-size: 35px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    display : flex;
    align-item : center;
    Justify-content: space-between;
    padding: 0 5%;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: aliceblue;
}
.btn{
    background-color: rgb(215, 232, 236);
    font-size: 20px;
    border-color: black;
    border-radius: 7%;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 4px;
}
.btn:hover{
    color: azure;
    background-color: rgb(196, 165, 185);

}

