
#head-ing{
    font-size: 50px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 3px solid #3f6363;
    border-radius: 50px;
}
h1{
    background-color: rebeccapurple;
}<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Dev Systumm</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header id="head-ing">Dev Systumm</header>
<br><br>
<div id="outer">
<div id="physics">
<h1 class="subject">Physics</h1>
<h2 class="links">LINKS</h2>
</div>
</div>
</body>
</html>